<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRl9c8Y4pbbvJSsFVUzso83HDquJmDxTg-YPPHjXyxyB_ioPQu-&usqp=CAU" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/student.css') }}">
 </head>
 <body>
    <ul>
        {% if session['name'] %}
        <li><a href="/logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a></li>
         {% else %}
         <li><a href="/"><i class="fa fa-fw fa-user"></i>Login</a></li>
         <li><a href="/register"><i class="fa fa-fw fa-user"></i>Register</a></li>
         {% endif %}
         <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRl9c8Y4pbbvJSsFVUzso83HDquJmDxTg-YPPHjXyxyB_ioPQu-&usqp=CAU" id="navbaricon"></li>
   </ul>
   {% block content %} {% endblock %}
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </body>
</html>
